/Workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/Workshops/unit1/WS03operators/BasicOperations/build/
/assignments/Unit1/HW02/ Perimeter of a circle/nbproject/private/
/assignments/Unit1/HW02/ Area of ​​a circle/nbproject/private/
/assignments/Unit1/HW02/ Diameter of a circle/nbproject/private/
/assignments/Unit1/HW02/Area of ​​a heptagon/nbproject/private/
/assignments/Unit1/HW02/ Perimeter of a heptagon/nbproject/private/
/assignments/Unit1/HW02/ Sides of a heptagon/nbproject/private/
/assignments/Unit1/HW02/ Perimeter of a heptagon/build/
/assignments/Unit1/HW02/ Sides of a heptagon/build/
/assignments/Unit1/HW02/Area of ​​a heptagon/build/
/Workshops/unit1/WS04LogicalOperators/LogicalOperators/nbproject/private/
/Workshops/unit1/WS04LogicalOperators/LogicalOperators/build/
/Workshops/unit1/WS04LogicalOperators/JavaApplication13/nbproject/private/
/Workshops/unit1/WS04LogicalOperators/JavaApplication13/build/
/Workshops/unit1/WS05lteration/WS05lteration/nbproject/private/
/Workshops/unit1/WS05lteration/WS05lteration/build/
/Workshops/unit1/WS05lteration/Iterations/nbproject/private/
/assignments/Unit1/HW03Iteration/Iterations/nbproject/private/
/assignments/Unit1/HW03Iteration/Iterations/build/
/assignments/Unit1/HW03Iteration/EjemloWHILE/nbproject/private/
/assignments/Unit1/HW03Iteration/EjemloWHILE/build/
/assignments/Unit1/HW03Iteration/EjemploFOR/nbproject/private/
/assignments/Unit1/HW03Iteration/EjemploFOR/build/
/assignments/Unit1/HW03Iteration/EjemploCreado/nbproject/private/
/assignments/Unit1/HW03Iteration/EjemploCreado/build/
/assignments/Unit1/HW03Iteration/JavaApplication20/nbproject/private/
/assignments/Unit1/HW03Iteration/JavaApplication20/build/
/Workshops/unit1/WS07Menus/Menus/nbproject/private/
/Workshops/unit1/WS07Menus/Menus/build/
/assignments/Unit1/HW04Menus/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/HW04Menus/build/
/Exam/Unit1/AlquingaDennisQ11/nbproject/private/
/Exam/Unit1/AlquingaDennisQ11/build/
/Workshops/unit2/WS08Correction/WS08Correction/nbproject/private/
/Workshops/unit2/WS08Correction/WS08Correction/build/
/assignments/Unit2/HW08FactorialNumber/FactorialNumber/nbproject/private/
/assignments/Unit2/HW08FactorialNumber/FactorialNumber/build/
/assignments/Unit2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/build/
/Workshops/unit2/WS/WS10Functions/nbproject/private/
/Workshops/unit2/WS/WS10Functions/build/
/assignments/Unit2/HW10Functions/HW10Functions/nbproject/private/
/assignments/Unit2/HW10Functions/HW10Functions/build/
/Workshops/unit2/WS11Funciones y Recursividad/WS11Funciones y recursividad/nbproject/private/
/Workshops/unit2/WS11Funciones y Recursividad/WS11Funciones y recursividad/build/
/assignments/Unit2/HW11 Recursion/nbproject/private/
/assignments/Unit2/HW11 Recursion/build/
/assignments/Unit2/HW11/nbproject/private/
/assignments/Unit2/HW11/build/
/assignments/Unit2/h11/nbproject/private/
/assignments/Unit2/h11/build/
/Workshops/unit2/ws12Libraries/nbproject/private/
/Workshops/unit2/ws12Libraries/build/
/assignments/Unit2/HW12-Taxes/nbproject/private/
/assignments/Unit2/HW12-Taxes/build/
/Workshops/unit2/WS13tASK/nbproject/private/
/Workshops/unit2/WS13tASK/build/
/Workshops/unit2/WS13-Task/nbproject/private/
/Workshops/unit2/WS14FarmSimulator/nbproject/private/
/Workshops/unit2/WS14FarmSimulator/build/