/Workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/Workshops/unit1/WS03operators/BasicOperations/build/
/assignments/Unit1/HW02/ Perimeter of a circle/nbproject/private/
/assignments/Unit1/HW02/ Area of ​​a circle/nbproject/private/
/assignments/Unit1/HW02/ Diameter of a circle/nbproject/private/
/assignments/Unit1/HW02/Area of ​​a heptagon/nbproject/private/
/assignments/Unit1/HW02/ Perimeter of a heptagon/nbproject/private/
/assignments/Unit1/HW02/ Sides of a heptagon/nbproject/private/
/assignments/Unit1/HW02/ Perimeter of a heptagon/build/
/assignments/Unit1/HW02/ Sides of a heptagon/build/
/assignments/Unit1/HW02/Area of ​​a heptagon/build/